#xplist { display:none; }
dl#xplist dd a { color:blue; }
dl#xplist dd.n a { color:gray; }
dl#plist { width:665px; margin-left:auto;margin-right:auto;}
dl#plist dd { float:left; width:220px;height:220px;margin:0px;padding:0px; }
dl#plist dd a { background-image:url('wp_item_normal.png'); width:170px;height:170px;display:block;padding:25px;background-repeat:no-repeat; text-align:center;text-decoration:none;color:black; }
dl#plist dd a:hover { background-image:url('wp_item_hover.png'); }
dl#plist dd a span.i { height:150px; width:170px;display:block; }
dl#plist dd a span.i img { max-width:170px;max-height:145px;border:0px; }
dl#plist dd a span.n { display:block;font-family:Bitstream Vera Sans, sans-serif;font-size:16px;font-weight:bold;letter-spacing:-1px; }
.g1, .g2, .g3 { background-image:url('games.png');background-repeat:no-repeat; }
.g1 { background-position:0px 0px; }
.g2 { background-position:0px -40px; }
.g3 { background-position:0px -20px; }
dl#plist dt { clear:both;font-family:"Trebuchet MS", sans-serif; font-weight:bold;font-size:21px; }

