
/* Sqaudist */

.squadlisttemplate_memberlist ul
{
    padding: 0;
    margin: 0;
}

.squadlisttemplate_memberlist li
{
    list-style: none;
    display: inline-block;
    vertical-align:top;
}

/* Squad */

.squadlisttemplate_squad_header
{
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.squadlisttemplate_squad
{
    clear: both;    
}

.squadlisttemplate_squad_image
{
    float: left;
    display: table-cell;
}

.squadlisttemplate_squad_image img
{
    text-align: center;
}

.squadlisttemplate_squad_name
{
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.squadlisttemplate_squad_name span
{
    font-weight: bold;
    color: #555;
    font-family: 'Titillium Maps' , Arial;
    font-size: 24px;
}

/* Squadmember */

.squadlisttemplate_squadmember
{
    background-color: #EEE;
    font-size: 10px;
    margin-bottom: 10px;
    width: 230px;
    border: 1px solid #BBB;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

.squadlisttemplate_squadmember_name
{
    font-family: 'Titillium Maps' , Arial;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #BBB;
    font-weight: bold;
}

.squadlisttemplate_squadmember_image
{
    float: left;
}

.squadlisttemplate_squadmember_image img
{
    margin: 10px;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

.squadlisttemplate_squadmember_details
{
    text-align: left;
    margin-top: 10px;
    margin-left: 95px;
}

.squadlisttemplate_squadmember_details_field
{
    margin-top: 1px;
    min-height: 20px;
}

.squadlisttemplate_squadmember_online
{
    border-top: 1px solid #BBB;
    clear: both;
    font-size: 9px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 2px;
}

/* Warlist */

#warlisttemplate_wars_header {
	font-weight: bold;
    color: #555;
    font-family: 'Titillium Maps' , Arial;
    font-size: 16px;
}

#warlisttemplate_wars
{
    width: 100%;
}

#warlisttemplate_wars td
{
    padding: 3px;
}

#warlisttemplate_wars th
{
    padding: 3px;
}

.warlisttemplate_results {
    text-align: center;
}

.warlisttemplate_result_draw {
    color: #D9CA13;
    font-weight: bold;
}

.warlisttemplate_result_win {
    color: #289F0A;
    font-weight: bold;
}

.warlisttemplate_result_lost {
    color: #D7084B; 
    font-weight: bold;   
}


.warlisttemplate_resultbackground_draw {
    background-color: #D9CA13;
}

.warlisttemplate_resultbackground_win {
    background-color: #289F0A;
}

.warlisttemplate_resultbackground_lost {
    background-color: #D7084B; 
}

.warlisttemplate_resultbackground_challenged {
    background-color: #0055ff; 
}

.chartscontainer li {
    list-style: none;
}

.squadmanagement_warcalendar_legend li
{
    list-style: none;
    display: inline-block;
}

.squadmanagement_warcalendar_legend li div {
	float: left;
	margin-right: 2px;
}

/* Awards */

#awardstemplate_awards_header {
	font-weight: bold;
    color: #555;
    font-family: 'Titillium Maps' , Arial;
    font-size: 16px;
    }

#awardstemplate_awards
{
    width: 100%;
}

#awardstemplate_awards td
{
    padding: 3px;
}

#awardstemplate_awards th
{
    padding: 3px;
}

.awardstemplate_awards
{
    text-align: center;
}